.card {
    box-shadow: 10px 10px 43px 23px rgba(0,0,0,0.15);
    -webkit-box-shadow: 10px 10px 43px 23px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 43px 23px rgba(0,0,0,0.15);
    border-radius: 5px;
    max-width: 22%;
    max-height: 500px;
    margin-bottom: 30px;

    &:hover{
        box-shadow: 3px 5px 41px 0px rgba(0,0,0,0.72);
        -webkit-box-shadow: 3px 5px 41px 0px rgba(0,0,0,0.72);
        -moz-box-shadow: 3px 5px 41px 0px rgba(0,0,0,0.72);
    }

    .img-wrapper{
        
        height: 300px;
        .featured-image{
            border-radius: 5px 5px 0px 0px;
            width: 100%;
            object-fit: cover;
        }
    }

    .content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        text-align: left;

        .description{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
                    line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}